.header {
  color: white;
  background: darkblue;
  margin: -10px;
}

.header h1 {
  text-align: center;
  padding: 10px;
  margin: 0;
}

.introduction {
  margin: 50px 0 0 50px;
  display: inline-block;
}

.contact-info {
  float: right;
  margin: 50px 100px 0 0;
  display: inline-block;
}

p {
  float: right;
  margin: 0 0 0 10px;

}